.name {
    height: 40px;
    width: 60%;
    border: 1px solid green;
    border-radius: 5px;
    background-color: white;
    margin-left: 20%;
}

.service-text {
    padding-left: 185px;
    margin-bottom: 5px;
}

.button-service {
    width: 200px;

}

.service {
    align-items: center;
}